<!DOCTYPE html>
<html>
<head>
  <title>Digsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless current_page?('/admin') || current_page?('/admins/sign_in') || current_page?('/admins/sign_up') || (current_user.try(:admin?) == true) %>
    <%= render partial: 'layouts/header' %>
  <% else %>
    <%= render partial: 'layouts/admin_header' %>
  <% end %>
  <section class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </section>
</body>
</html>
